<!DOCTYPE html>
<html>
<head>
	<title>Dating Website</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<section class="main_section text-center">
	<div class="container">
		<div class="row">
			<div class="main_div">
			    <h3>Final Step Create Your Account</h3>
			    <img src="images/heart.png">
			    <br><br>
			   	<div class="">
				 <div class="wrapper">
			         <div class="steps step3" >
			            <div class="regForm regFormAlt box-shdw">
			               <iframe id="mainiframe" allowtransparency="true" scrolling="no" frameborder="0" src="http://abdating.registersafely.com/routes/abdating/?j2pnc=1&ofid=846&autoun=1&autopw=1&email=&a_aid=abdating&a_bid=0b755e13&x_subid1=&x_clickid=&x_subid2=&x_subid3=&x_subid4=&x_subid5=" style="vertical-align:top; margin-left:0px;"></iframe>   
			            </div>
			         </div>
			      </div>
			</div>
		</div>
	</div>
	<p class="copyright">© Copyright 2019, All rights reserved</p>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>