<!DOCTYPE html>
<html>
<head>
	<title>Dating Website</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<section class="main_section text-center">
	<div class="container">
		<div class="row">
			<div class="main_div">
			    <h1>Thank You</h1>
			    <img src="images/heart.png">
			    <br><br>
			   	<div class="">
				  <div class="box fade-in one">
				  	<img src="images/arrow.png">
				    <h5>You are eligible for free access</h5>
				  </div>
				  <div class="box fade-in two">
				  	<img src="images/arrow.png">
				    <h5>7 available slots in your area</h5>
				  </div>
				  <div class="box fade-in three">
				  	<img src="images/arrow.png">
				    <h5>34 girls available to meet</h5>
				  </div>
				  <div class="box fade-in four">
				  	<img src="images/arrow.png" class="img4">
				    <h5>Free registration closing in</h5><p id="demo"></p>
				  </div>
				  <div class="box fade-in five">
				  	<img src="images/arrow.png">
				    <h5>Age verification is required</h5>
				  </div>
				  <form class="fade-in six">
			    	<a href="page4.html" class="next_btn">Next <img src="images/arrow_btn.png"></a>
			    </form>
			</div>
		</div>
	</div>
	<p class="copyright">© Copyright 2019, All rights reserved</p>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (300 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>

</html>