<!DOCTYPE html>
<html>
<head>
	<title>Dating Website</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<section class="main_section">
	<div class="">
		<div class="">
			<div class="main_div">
			    <h1>Thank You!</h1>
			    <!-- <img src="images/heart.png"> -->
			    <h4>
			    	Now Please Enter Your Email Below To
                    Create Your <span><b> Free Private Account</b></span>
			    </h4>
			   	<div class="slider">
			   		<div class="">
					  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
					    <!-- Indicators -->
					    <ol class="carousel-indicators">
					      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					      <li data-target="#myCarousel" data-slide-to="1"></li>
					      <li data-target="#myCarousel" data-slide-to="2"></li>
					    </ol>

					    <!-- Wrapper for slides -->
					    <div class="carousel-inner">

					      <div class="item active">
					        <img src="images/slide2.png" alt="Los Angeles">
					        <!-- <div class="carousel-caption">
					          <h3>Los Angeles</h3>
					          <p>LA is always so much fun!</p>
					        </div> -->
					      </div>

					      <div class="item">
					        <img src="images/slide4.png" alt="Los Angeles">
					        <!-- <div class="carousel-caption">
					          <h3>Chicago</h3>
					          <p>Thank you, Chicago!</p>
					        </div> -->
					      </div>
					    
					      <div class="item">
					        <img src="images/slide3.png" alt="Los Angeles">
					        <!-- <div class="carousel-caption">
					          <h3>New York</h3>
					          <p>We love the Big Apple!</p>
					        </div> -->
					      </div>
					      <div class="item">
					        <img src="images/slide1.png" alt="Los Angeles">
					        <!-- <div class="carousel-caption">
					          <h3>New York</h3>
					          <p>We love the Big Apple!</p>
					        </div> -->
					      </div>
					    </div>
					  </div>
					</div>
			   	</div>
			    <form>
			    	<label>Enter Email Address:</label>
			    		<p class="small_text">If You Use A Fake Email, You Will Not See Women! Serious Users Only.</p>
			    	<input type="email" name="email" placeholder="email@example.com">
			    	<br>
			    	<br>
			    	<label>Mobile Phone:</label>
			    		<p class="small_text">Optional, but highly recommended. Receive sex requests from women nearby.</p>
			    	<input type="email" name="email" placeholder="+1">
			    	<a href="page3.html" class="next_btn">Next <img src="images/arrow_btn.png"></a>
			    </form>
			</div>
		</div>
		<p class="copyright">© Copyright 2019, All rights reserved</p>
	</div>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
	 $('#myCarousel').carousel({
	    interval: 500
	});
</script>
</html>